---
import { services } from "../ServicesData";
---

<h1 class="header">OUR SERVICES</h1>
<div class="main-container">
    {
        services.map((item) => {
            return (
                <div class="card">
                    <div class="card-content">
                        <div class="card-top">
                            <p>{item.name}</p>
                        </div>
                        <div class="card-bottom">
                            <p>{item.description}</p>
                        </div>
                    </div>
                </div>
            );
        })
    }
</div>  
<style>
    .header {
        color: white;
        font-size: 3rem;
        display: flex;
        justify-content: center;
    }
    .main-container {
        display: flex;
        justify-content: space-evenly;
    }

    .card {
        width: 320px;
        background: #fff480;
        color: black;
        position: relative;
        border-radius: 2.5em;
        padding: 2em;
        transition: transform 0.4s ease;
    }

    .card .card-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2em;
        height: 100%;
        transition: transform 0.4s ease;
    }

    .card .card-top,
    .card .card-bottom {
        display: flex;
        justify-content: center;
    }

    .card .card-top p,
    .card .card-top .card-title,
    .card .card-bottom p,
    .card .card-bottom .card-title {
        margin: 0;
    }

    .card .card-title {
        font-weight: bold;
    }

    .card .card-top p,
    .card .card-bottom p {
        font-weight: 600;
    }

    .card .card-bottom {
        align-items: flex-end;
    }
    .card:hover {
        cursor: pointer;
        transform: scale(0.97);
    }

    .card:hover .card-content {
        transform: scale(0.96);
    }
    .card:active {
        transform: scale(0.9);
    }
</style>
